{{!-- Careers, and the fields each custom career adds to the sheet. A
      career's features are declared on the career Item and their values live
      on the actor under system.features.<careerKey>.<featureKey>. --}}
<div class="knavery-careers">
  <div class="trait-picklist-header">
    <label class="trait-picklist-label">{{localize "KNAVERY.Careers"}}</label>
    {{#if generationEnabled}}
    <a class="background-roll" data-action="rollCareer" data-tooltip="KNAVERY.RollCareer"><i class="fas fa-dice-d20"></i></a>
    <a class="background-pick" data-action="pickCareer" data-tooltip="KNAVERY.PickCareer"><i class="fas fa-list-ul"></i></a>
    {{/if}}
  </div>
  {{#each careers as |career|}}
  <div class="knavery-career" data-career-id="{{career.id}}">
    <div class="career-head">
      <img src="{{career.img}}" alt="" />
      <a class="career-name" data-action="openCareer">{{career.name}}</a>
      {{#each career.effects}}<span class="knavery-item-tag effect-tag"><i class="fas fa-bolt"></i> {{this}}</span>{{/each}}
      {{#if career.canRemove}}
      <a class="career-remove" data-action="removeCareer" data-tooltip="KNAVERY.RemoveCareer"><i class="fas fa-xmark"></i></a>
      {{/if}}
    </div>
    {{#if career.description}}<div class="career-description">{{{career.description}}}</div>{{/if}}
    {{#if career.features.length}}
    <div class="career-features">
      {{#each career.features as |f|}}
      <div class="career-feature" {{#if f.hint}}data-tooltip="{{f.hint}}"{{/if}}>
        <label>{{f.label}}</label>
        {{#if f.isText}}<input type="text" name="{{f.path}}" value="{{f.value}}" />{{/if}}
        {{#if f.isNumber}}<input type="number" name="{{f.path}}" value="{{f.value}}" data-dtype="Number" />{{/if}}
        {{#if f.isCheckbox}}<input type="checkbox" name="{{f.path}}" {{checked f.value}} />{{/if}}
        {{#if f.isDie}}
        <input type="text" name="{{f.path}}" value="{{f.value}}" class="feature-die" />
        <a class="feature-die-roll" data-action="rollFeatureDie" data-formula="{{f.value}}" data-label="{{f.label}}"><i class="fas fa-dice-d20"></i></a>
        {{/if}}
        {{#if f.isTrack}}
        <span class="feature-track">
          {{#each f.pips}}
          <a class="feature-pip" data-action="featureTrack" data-path="{{f.path}}" data-i="{{this.i}}"><i class="{{#if this.on}}fa-solid{{else}}fa-regular{{/if}} fa-circle"></i></a>
          {{/each}}
        </span>
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{else}}
  <p class="career-none">{{localize "KNAVERY.NoCareersHint"}}</p>
  {{/each}}
</div>
